<div class="col-xs-8">
  <br>
  <br>
  <img src = "/assets/img3.jpg">
</div>
<div class="col-xs-4">
<div class="login-page">
  <br>
  <br>
    <div class="form">
      <form class="register-form" name="myForm">
        
        <input required class = "form-control" type="text" [(ngModel)] = "email" type= "email" name= "email" placeholder="abijith.k@xyz.net" >
        <input type="text" [(ngModel)] = "username" name = "fname" placeholder="Abijith"/>
        <input type="password" [(ngModel)] = "password" type="password" name = "password" placeholder="Eg: Xyf@1tu"/>
        <button (click) = "submit()">create</button>
        <div *ngIf="accept == true">Account created successfully<br>Please click on Sign In</div>
        <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
      </form>
    </div>
</div>
</div>